
$bgd-color: #2F303A;
$translucent-bgd-color: rgba(47, 48, 58, 0.4);
$label-bgd-color: rgba(47, 48, 58, 0.8);
$accent-color: #2196F3;
$special-color: #188CE8;
$p-color: #757575;
$milk-color: #F5F4FA;
$main-color: #212121;
$clear-gray-color: rgba(255, 255, 255, 0.6);
$email-border-color: rgba(255, 255, 255, 0.3);
$light-gray-color: rgba(238, 238, 238, 1);
$translucent-white-color: rgba(255, 255, 255, 0.1);
$white-color: #fff;
$black-color: #000;
$sn-icon-color: #AFB1B8;
$overlay-color: rgba(33, 150, 243, 0.9);
$backdrop-color: rgba(0, 0, 0, 0.2);
$border-btn-color: rgba(0, 0, 0, 0.1);
$border-input-color: rgba(33, 33, 33, 0.2);
$placeholder-color: rgba(117, 117, 117, 0.5);
$button-shadow-color: rgba(0, 0, 0, 0.15);

$gap: 30px;
