footer {
    background-color: $bgd-color;
    padding: 60px 0;
}

.page-footer {
    text-align: center;
    @media screen and (min-width: 1200px) {
        @include flex ($jc: left, $ai: baseline);
        text-align: left;
    }
}

    .page-footer__tab {
        @media screen and (min-width:768px) and (max-width:1199px) {
            @include flex ($ai: baseline);
            gap: 165px;
            margin-bottom: 60px;
        }
        
        @media screen and (min-width:1200px) {
            display: flex;
            align-items: baseline;
        }
    }


.footer__div {
    @media screen and (max-width:767px) {
        margin-top: 60px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 70px;
        
            &--alignment {
                margin-left: auto;
            }
    }
    
    
}


.page-footer__heading {
    display: inline-block;
    margin-bottom: 20px;
    @include text (inherit, center, 700, 14px, 16px, 0.03em, uppercase);
    color: $white-color;
}

address {
    margin-top: 20px;
}

.address__location {
    @include text ($fos: 14px, $lih: 24px);
    color: $white-color;
    font-style: normal;
    color: $white-color;
}

.address__contacts {
    @include text ($fos:14px, $lih:24px);
    font-style: normal;
    color: $clear-gray-color;
}

.address__item {
    margin-top: 8px;

    @media screen and (min-width: 1200px) {
        margin-top: 9px;
    }
}

