header {
    position: relative;
    border-bottom: 1px solid $light-gray-color;
}

.page-header {
    @media screen and (max-width: 1199px) {
        @include flex ($jc: space-between);
    }
}

.nav {
    @media screen and (max-width:767px) {
        display: none;
    }

}

.nav__list {
    @include flex (flex);
    gap: 50px;
}

.nav__link {
    @include text ($les: 0.02em, $fow: 500, $fos: 14px, $lih: 16px);
    padding: 32px 0;
    color: inherit;

    &--current {
        color: $accent-color;
    }

    @media screen and (min-width:768px) {
        position: relative;
        display: block;

        &::after {
                display: block;
                width: 100%;
                height: 4px;
                position: absolute;
                bottom: -1px;
                content: '';
                background-color: $accent-color;
                border-radius: 2px;
                opacity: 0;
                transform: scaleX(0);
                @include transit (opacity);
                @include transit (transform);
            }

            &:hover::after {
                opacity: 1;
                transform: scaleX(1);
            }

            &--current {
                color: $accent-color;

                &::after {
                    position: absolute;
                    bottom: -1px;
                    content: '';
                    display: block;
                    width: 100%;
                    height: 4px;
                    background-color: $accent-color;
                    border-radius: 2px;
                    opacity: 1;
                    transform: scaleX(1);
                }
            }
    }
    // @include text ($les:0.06em, $fow:500, $fos: 14px, $lih: 16px);
    
}

.contacts {
    @media screen and (max-width:767px) {
        display: none;
    }
    // @include flex;
    // margin-left: auto;
    // gap: 50px;
}

.contacts__link {
    padding: 5px 0;
    @include text ($les: 0.02em,
                $fow: 500,
                $fos: 12px,
                $lih: 14px);
    color: $p-color;
    @media screen and (min-width: 1200px) {
        @include flex ($jc: space-between);
        @include text ($les: 0.02em,
                    $fow: 500,
                    $fos: 14px,
                    $lih: 16px);
    }
    // padding: 32px 0;
    // @include flex;
}

.contacts__icon {
    margin-right: 8px;
    fill: currentColor;
    @include transit (fill);

    &:hover,
    &:focus {
        fill: currentColor;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 10px;
    }
}

