.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $backdrop-color;
    opacity: 1;
    @include transit (opacity);

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 609px;
    padding: 40px;

    @media screen and (max-width: 479px) {
        width: 96%;
        overflow-y: scroll;
    }

    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 581px;
    }
    
    background: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%);
    @include transit (transform);

    .backdrop.is-hidden & {
        transform: translate(-50%, -100%);
    }
}

.modal__form {
    width: 100%;
}

.modal__header {
    display: inline-block;
    margin-bottom: 12px;
    @include text (
        $tea: center,
        $fow: 700,
        $fos: 20px,
        $lih: 30px);

    @media screen and (min-width: 1200px) {
        line-height: 23px;
    }
}

.modal__div {
    position: relative;
    margin-bottom: 10px;

    .modal__form &:nth-child(4) {
        margin-bottom: 20px;
    }
}

.modal__input {
    width: 100%;
    height: 40px;
    padding: 0 12px 0 42px;
    border: 1px solid $border-input-color;
    border-radius: 4px;
    cursor: pointer;
    @include text ($fos: 12px, $lih: 14px,
            $les: 0.01em);
    color: $main-color;
    @include transit (border-color);

   &::placeholder {
    @include text ($fos: 12px, $lih: 14px,
            $les: 0.01em);
        color: $main-color;
    }

    &:hover,
    &:focus {
        outline: none;
        border-color: $accent-color;
    }
}

.modal__label {
    margin-bottom: 4px;
    @include text ($fos: 12px, $lih: 14px,
            $les: 0.01em);
    color: $p-color;
    cursor: pointer;
}

.modal__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    fill: $main-color;
    @include transit (fill);

    .modal__input:hover+&,
    .modal__input:focus+& {
        fill: $accent-color;
    }
}

.modal__comment {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid $border-input-color;
    border-radius: 4px;
    @include text ($fos: 14px, $lih: 14px,
            $les: 0.01em);
            @include transit (border-color);

    &::placeholder {
        @include text ($fos: 14px, $lih: 16px,
                $les: 0.01em);
        @media screen and (min-width: 1200px){
            @include text ($fos: 12px, $lih: 14px,
                    $les: 0.01em);
        }
        color: $placeholder-color;
    }

    &:hover,
    &:focus {
        outline: none;
        border-color: $accent-color;
    }
}


.check {
    margin-bottom: 30px;
    text-align: center;
}

.check__box {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.check__label {
    width: 100%;
    cursor: pointer;
    @include flex;
    @include text ($fos: 12px, $lih: 1.17);
    @media screen and (max-width: 479px) {
        align-items: flex-start;
        font-size: 3.2vw;
        flex-wrap: wrap;
    }
    
    @media screen and (min-width: 1200px) {
        @include text ($fos: 14px, $lih: 24px);
    }

    font-style: normal;
    color: $p-color;
}

.check__icon {
    margin-right: 8px;
    display: inline-block;
    width: 16px;
    height: 15px;
    background-image: url(../images/nocheck.svg);
    @include transit (background-image);

    .check__box:focus+&,
    .check__box:hover+& {
        background-image: url(../images/accent-nochek.svg);
    }

    .check__box:checked+& {
        background-image: url(../images/check.svg);
    }

    .check__box:checked:hover+& {
        background-image: url(../images/accent-nochek.svg);
    }
}

.check__link {
    color: $accent-color;
    text-decoration: underline;
}