.team {
    background-color: $milk-color;
}

.team__list {
    @media screen and (min-width: 480px) {
            max-width: 450px;
            margin: 0 auto;
        }
    // @include flex;
    //     gap: $gap;
}

.team__card {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: $white-color;
    @media screen and (max-width: 767px) {
        max-width: 450px;
        &:not(:last-child){
            margin-bottom: $gap;
        }
    }
}

.team__image {
    text-align: center;
}

.team__descr {
    padding: 30px 0;
}

.team__name {
    margin-bottom: 10px;
    @include text ($fow:500, $fos:16px, $lih:19px, $tea:center);
}

.team__post {
    margin-bottom: 16px;
    @include text ($fow: 400, $fos: 16px, $lih: 19px, $tea:center);
    color: $p-color;
}